venv
GSE35108_family.soft.gz         
GSE42955_family.soft.gz                                     
GSE3586_family.soft.gz                      
GSE19303_family.soft.gz         
GSE4172_family.soft.gz
test.py
.DS_Store